.upgradeBar {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 15px;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    border: 6px solid #ec7474;
    border-radius: 34px;
    flex-wrap: wrap;
}

.upgradeBarTitle {
    font-size: 26px;
    color: #00ffd2;
    padding-top: 0;
    margin-top: 0;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .upgradeBar {
        max-width: 50%;
    }

    .buttonContainer {
        flex-direction: column;
    }
}