/* coin.module.css */

.coin {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coinImage {
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure the image does not block clicks */
}
.coin:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.coinEdge {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 10px; /* Thickness of the edge */
    background: linear-gradient(to bottom, #d4af37, #c0c0c0); /* Color of the edge */
    transform: translate(-50%, -50%) rotateX(90deg);
    border-radius: 50%;
    pointer-events: none; /* Ensure the edge does not block clicks */
}

.number {
    position: absolute;
    margin: 0 auto;
    font-size: 36px;
    color: #ffe9e9;
    display: none;
    transition: opacity 0.5s ease;
    white-space: nowrap; /* Prevent text wrapping */
    pointer-events: none; /* Prevent interaction with the number element */
    z-index: 10; /* Ensure it appears above other elements */
    max-width: 100%; /* Ensure it doesn't extend beyond the container */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}