/* stockButton.module.css */

.stockButton {
    display: flex;
    flex-direction: column;

}

.content {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.titleContainer {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 8px; /* Space between icon and title */
    font-weight: bold;
}

.subscribe {
    margin-left: 5px;
    margin-top: 4px;
    font-size: 0.875rem;
    color: #f1d8d3;
}